.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px var(--color_dark_transp),
    -5px -5px 30px 7px var(--color_dark2_transp);
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px var(--color_dark_transp),
    -5px -5px 30px 15px var(--color_dark2_transp);
}

.title-white {
  color: var(--color_white);
}

.title-black {
  color: var(--color_text);
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url("https://i.redd.it/b3esnz5ra34y.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px var(--color_dark_transp),
    -5px -5px 30px 7px var(--color_dark2_transp);
  transition: 0.4s;
}

/* CARD ABBONAMENTI */
.container {
  width: 100%;
}

.toggle-btn span {
  color: var(--color_text);
}

.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: var(--color_bg1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: var(--color_text_light);
}

.packages h1 {
  color: var(--color_secondary);
}

.packages h1.pro {
  color: var(--color_tertiary);
}

h1,
h2 {
  font-size: 2.2em;
}

.title-white p,
.card_title p {
  color: var(--color_white);
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid var(--color_secondary_light);
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 40px;
  border-top: 1px solid var(--color_secondary_light);
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: var(--color_secondary_light);
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  background-color: var(--color_secondary);
  box-shadow: 0 0 10px 0 var(--color_secondary) inset,
    0 0 20px 2px var(--color_secondary);
}

.button2 {
  background-color: var(--color_tertiary);
  box-shadow: 0 0 10px 0 var(--color_tertiary) inset,
    0 0 20px 2px var(--color_tertiary);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color_tertiary);
  -webkit-transition: 0.4s;
  box-shadow: 2px 6px 25px var(--color_tertiary);
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color_secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color_primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color_primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
