@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(60deg, var(--color_bg1), var(--color_bg2));
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.dl-blurbs {
  display: grid;
}

dl {
  counter-reset: count;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.04) 20%,
    rgba(255, 255, 255, 0) 0%
  );
  padding-left: 4vw;
  padding-right: 4vw;
  margin: 0;
}

dl + dl {
  counter-reset: counter 4;
}

dt {
  counter-increment: count;
  color: var(--color_primary);
  font-family: "Bebas Neue", cursive;
  font-size: 4vw;
  text-transform: uppercase;
}

dt::before {
  content: counter(count, decimal-leading-zero) ".";
  font-family: "Poppins", sans-serif;
  color: var(--color_action);
  margin-left: -1vw;
  padding-right: 12px;
}

dd {
  margin-left: 5vw;
  margin-bottom: 2vh;
}

span,
a {
  text-decoration: none;
  text-transform: uppercase;
}

a {
  color: var(--color_primary);
}

span {
  color: var(--color_secondary);
}

a,
span {
  text-transform: uppercase;
  font-weight: bold;
}
