@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 9.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: var(--color_primary);
  --hover: var(--color_quintary);
}

.pulse {
  --color: var(--color_primary);
  --hover: var(--color_primary);
}

.close {
  --color: var(--color_quaternary);
  --hover: var(--color_quintary);
}

.raise {
  --color: var(--color_tertiary);
  --hover: var(--color_quintary_light);
}

.up {
  --color: var(--color_secondary);
  --hover: var(--color_primary);
}

.slide {
  --color: var(--color_secondary);
  --hover: var(--color_secondary_light);
}

.offset {
  --color: var(--color_quintary);
  --hover: var(--color_quintary_light);
}

button {
  font-family: "Bebas Neue", cursive !important;
  color: var(--color);
  transition: 0.25s;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: var(--color_text);
}
