:root {
  --color_black: #000000;
  --color_action: #16ffbd;
  --color_text: #333333;
  --color_text_secondary: #585858;
  --color_primary: #c34271;
  --color_secondary: #f070a1;
  --color_tertiary: #12c998;
  --color_quartary: #439f76;
  --color_white: #f7f7f7;
  --color_bg1: #f7f7f7;
  --color_bg2: #b8b8b8;
}
