@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* STILE BARRA DI RICERCA */
input[type="checkbox"] {
  display: none;
}
.box {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-90%, -90%);
  width: 60px;
  height: 60px;
  transition: 0.5s;
  z-index: 10;
}
.box label {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: -5px -5px 8px var(--color_primary_light),
    5px 5px 10px var(--color_secondary_light);
}
.box label:hover {
  box-shadow: -10px -10px 15px var(--color_primary_light),
    10px 10px 15px var(--color_secondary_light);
  transform: scale(1.1);
}
.box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  padding-left: 20px;
  color: var(--color_text_light);
  box-shadow: -10px -10px 15px var(--color_bg1),
    10px 10px 15px var(--color_bg2);
  transform: 0.5s;
  opacity: 0;
}
.box input:focus {
  box-shadow: -10px -10px 40px var(--color_bg1),
    10px 10px 40px var(--color_bg2);
}
#check:checked + .box {
  width: 500px;
}
#check:checked + .box > input {
  opacity: 1;
}
#check:checked + .box > label {
  box-shadow: none;
}
#check:checked + .box > label:hover {
  transform: scale(1);
}
/* STILE RISULTATI */
ul.output {
  position: absolute;
  margin-top: 24%;
  left: 65%;
  width: auto;
  min-width: 350px;
  transition: 0.5s;
  list-style: none;
  background-color: var(--color_bg2);
  box-shadow: -5px -5px 8px var(--color_secondary_light),
    5px 5px 10px var(--color_quaternary_light);
  border-radius: 10px;
  z-index: 10;
}
li.item {
  padding-top: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
  font-weight: 400;
  line-height: 1;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}

li > p.symbol {
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
  color: var(--color_secondary);
}

li > p.sec_name {
  padding-bottom: 5%;
  margin: auto;
  color: var(--color_text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}
.not_in {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #6b0000;
}

i {
  color: var(--color_text);
}

i:hover {
  color: var(--color_primary);
  size: 1.5rem;
}

.fa-search {
  color: var(--color_text);
}
#unfollow {
  color: #440e0e;
}
#unfollow:hover {
  color: #6b0000;
}
/* BANNER CSS */

.banners-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.banner {
  color: var(--color_text);
  font-weight: 700;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0 0 50px 50px;
}

.banner.info .banner-icon i {
  color: #b0fba1;
  font-size: large;
}

.banner.info.rem .banner-icon i {
  color: #ff9090;
  font-size: large;
}

.banner.info {
  background: #2ba812;
}

.banner.info::after {
  background: #2ba812;
}

.banner.info.rem {
  background: #c10101;
}

.banner.info.rem::after {
  background: #c10101;
}

.banner .banner-message {
  flex: 1;
  padding: 0 2rem;
}

.banner::after {
  content: "";
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 100%;
  left: 0;
}

.banner:not(.visible) {
  display: none;
  transform: translateY(-100%);
}

.banner.visible {
  box-shadow: 0 2px 2px 2px var(--color_dark_transp2);
  animation-name: banner-in;
  animation-direction: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.show-banner {
  appearance: none;
  background: var(--color_secondary_light);
  border: 0;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0.25rem;
}

@keyframes banner-in {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

/* RESPONSIVE CSS */
@media screen and (max-width: 1024px) {
  .box {
    margin-top: 45%;
  }
  ul.output {
    margin-top: 90%;
    margin-left: 44%;
  }
}

/* RESPONSIVE CSS */
@media screen and (max-width: 768px) {
  .box {
    top: 130%;
  }
  #check:checked + .box {
    width: 400px;
  }
  #output {
    position: absolute;
  }
  ul.output {
    margin-top: 205%;
    margin-left: -51%;
    background-color: var(--color_dark_transp2);
  }
}
