@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* STILE BARRA DI RICERCA */
input[type="checkbox"] {
  display: none;
}
.box {
  position: absolute;
  top: 17%;
  left: 90%;
  transform: translate(-90%, -90%);
  width: 60px;
  height: 60px;
  transition: 0.5s;
}
.box label {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
}
.box label:hover {
  box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
  transform: scale(1.1);
}
.box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  padding-left: 20px;
  color: gray;
  box-shadow: -10px -10px 15px #a175f338, 10px 10px 15px #59b4ff38;
  transform: 0.5s;
  opacity: 0;
}
.box input:focus {
  box-shadow: -10px -10px 40px #a175f338, 10px 10px 40px #59b4ff38;
}
#check:checked + .box {
  width: 500px;
}
#check:checked + .box > input {
  opacity: 1;
}
#check:checked + .box > label {
  box-shadow: none;
}
#check:checked + .box > label:hover {
  transform: scale(1);
}

/* STILE RISULTATI */
ul.output {
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-85%, -85%);
  width: auto;
  transition: 0.5s;
  list-style: none;
  background-color: #00000007;
  box-shadow: -5px -5px 8px #a175f338, 5px 5px 10px #59b4ff38;
  border-radius: 10px;
}
li.item {
  padding-top: 5%;
  margin-bottom: 2%;
  font-weight: 400;
  line-height: 1;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}
li.item:hover {
  background-color: #b99fc8;
}
li > p.symbol {
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
  color: #247ad3;
}

li > p.sec_name {
  padding-bottom: 5%;
  margin: auto;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}
.not_in {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #72070c;
}
