.btn_action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .panels-container {
    margin: 7%;
  }
  .btn_action {
    flex-direction: column;
    margin: 5px;
  }
  .signin-signup {
    top: 100%;
  }
}
