.one_stock {
  padding-bottom: 5%;
}
/* CARD */

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}
.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}
.stock-card {
  background: #fff;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px #000;
  z-index: 9999;
}
.stock-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
.stock-card__level--barbarian {
  color: #59b4ff;
}
.stock-card__unit-name {
  font-size: 26px;
  color: #000;
  font-weight: 900;
  margin-bottom: 5px;
}
.stock-card__unit-stats--barbarian {
  background: #59b4ff;
}
.stock-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #a175f3;
}
.stock-card__unit-stats {
  color: #fff;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.stock-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.stock-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.stock-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.stock-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.stock-card__unit-stats .no-border {
  border-right: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.up {
  color: rgb(73, 147, 0);
}

.down {
  color: rgb(78, 0, 0);
}
