.container_stock {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 20%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  justify-items: center;
  align-items: center;
}
.news .article figcaption,
h2:after {
  position: absolute;
}
.news .article,
h2 {
  position: relative;
}
.news {
  display: flex;
}
h2 {
  vertical-align: middle;
}
.wrapper {
  padding: 15px;
}
.news {
  flex-flow: row wrap;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51, 51, 51, 0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: rgba(6, 18, 53, 0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
}
.news .article:active img,
.news .article:focus img,
.news .article:hover img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:active figcaption,
.news .article:focus figcaption,
.news .article:hover figcaption {
  opacity: 1;
  transform: none;
}
